:root{
    font-size: 18px;
    --primary-color: #00bfa4;
    --secondary-color: #064532;
    --third-color: #1f5945;
    --contact-color: #00795f;
    --light-color: #fff;
    --silver-color: #f6f6f6;
}
body{
    font-family: 'Montserrat';
    font-size: 18px;
}
.d-n{
    display: none;
}
/* section */
.section{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
/* btns */
.btn{
    display: inline-block;
    padding: .5rem 1.5rem;  
    border-radius: 1.5rem;
    min-width: 10rem;
    font-size: .7rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border: var(--primary-color) 2px solid;
}
button:focus{
    outline: none;
}
button{
    cursor: pointer;
}
.btn:hover{
    border: var(--primary-color) 2px solid;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 7px 15px;
}
.action-btn{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.action-btn:hover{
    color: var(--primary-color);
    text-decoration: none;
}
.secondary-btn{
    background-color: transparent;
    color: var(--primary-color);
    text-transform: uppercase;
}
.secondary-btn:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
    text-decoration: none;
}
/* titles */
h2.title{    
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}
p.description{
    text-transform: uppercase;
    font-weight: 800;
    color: var(--primary-color);
}
/* ulist */
.function ul, .about ul{
    padding-left: 25px; 
    list-style-type: none;
}
.function ul li, .about ul li{
    position: relative;
    margin-bottom: .8rem;
	font-size: 1.125rem;
}
.function ul li::before, .about ul li::before{
    content: "";
    width: 10px;
    height: 10px;
    top: .45rem;
    left: -25px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--primary-color);
}


/* templates */
.text-center{
    text-align: center;
}

/* header */
.header{
    background-color: var(--third-color);
    color: var(--light-color);
    padding-top: 3rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header a.nav-link{
    font-size: 0.5rem;
    color: var(--light-color);
    text-transform: uppercase;
    border: 1px transparent solid;
    padding: 11px 25px;
    border-radius: 25px;
}
.header a.nav-link:hover{
    text-decoration: none;
    border: 1px var(--light-color) solid;
}
/* hero */
.hero{
    background-color: var(--third-color);
    color: var(--light-color);
    padding-top: 20vh;
    padding-bottom: 25vh;
}
.hero #typed, .typed-cursor{
    font-size: 2.30rem;
    font-weight: 800;
    display: inline;
}
.typed-wrap{
    min-height: 190px;
    margin-bottom: ;
}
.hero span.description{
    color: var(--primary-color);
    margin-left: 1.5rem;
}
/* about */
.about{
    background-color: var(--silver-color);
}
.about-card{
    margin-top: 5rem;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
p.top-description{
    text-transform: uppercase;
    font-weight: 800;
    color: var(--primary-color);
}
p.main-description{    
    font-size: 1.15rem;
    font-weight: bold;
}
.about .secondary-btn{
    align-self: center;
    margin-bottom: 3rem;
}
/* functions */
.function p.description{
    font-size: .8rem;
    margin-top: 1.3rem;
    line-height: 1.8;
}
.function p.main-description{
    margin-top: 2rem;
}
.function.--second{
    background-color: var(--silver-color);
}
/* know-how */
.know-how{
    font-size: .9rem;
    min-height: 1100px;
    background-image: url(../images/know-how-bg.png);
    background-position: center 50%;
    background-repeat: no-repeat;
}
.dot-description{
    margin-top: 6rem;
}
.price-description{
	margin-top: 2rem;
    padding: 0 2%;
}
.dot-description--highlight{
    margin: 0;
    font-weight: bold;
}
/* contacts */
.contact{
    background-color: var(--contact-color);
    background-image: url(../images/line.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4rem;
    padding-bottom: 10rem;
    position: relative;
}
.contact .slick-slide{
    display: flex !important;
}
.slider-feedback__image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.slider-feedback__image img{
    width: 100%;
}
.slider-feedback__text{
    color: var(--light-color);
    font-size: 0.9rem;
}
.slider-feedback__text-author {
	padding-top: 20px;
	display: block;
	font-size: .85rem;
}
.contact h3{
    margin-top: 3rem;
    margin-bottom: 2rem;
    color: var(--light-color);
    font-weight: 800;
}
.contact input{
    min-width: 360px;
    height: 40px;
    margin-right: 15px;
    padding: 10px 25px;
    outline: none;
    border-radius: 24px;
    font-size: .7rem;
    border: none;
}
.copyright{
    font-size: .6rem;
    position: absolute;
    bottom: 5%;
    left: 5%;
    color: rgba(255, 255, 255, .2);
    text-transform: uppercase;
    font-weight: bold;
}
.copyright a {
	color: #fff;
}
/* svg edit */
.hero__img.--first{
    position: absolute;
    top: 10px;
    right: 4%;
    height: 82%;
}
.hero__img.--second{    
    position: absolute;
    top: 63%;
    left: 5%;
    height: 42%;
}
.function{
    position: relative;
}
.function__img{
    position: absolute;
    top: 10%;
    width: 40%;
}
.function__img.--first{
    right: 10%;
}
.function__img.--second{
    left: 0;
}
hr {
	color:#F1F3F9;
	border: 1px solid #F1F3F9;
}
.dot {
	content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--primary-color);
	margin: 1rem auto;
}
/* popup */
#popup{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 999;
    align-items: center;
    justify-content: center;
}
#popup.active{
    display: flex;
}
#popup .popup__body{
    position: relative;
    background-color: var(--silver-color);
    padding: 2rem 4rem;
    width: 700px;
    border-radius: 10px;
}
.popup__body form{    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popup__body__close{
    position: absolute;
    right: 5px;
    top: 5px;
    fill: var(--primary-color);
    cursor: pointer;
}
.popup__body input, .popup__body textarea{
    padding: .5rem 0;
    width: 100%;
    margin-bottom: 10px;
    background-color: var(--silver-color);
    border: none;
    border-bottom: var(--secondary-color) 1px solid;
    outline: none;
}
.popup__body textarea{
    max-height: 250px;
    min-height: 50px;
}
.popup__body input:focus, .popup__body textarea:focus{
    border-bottom-color: var(--primary-color);
}
.popup__body button{
    margin-top: 1rem;
}

/* media */
@media (max-width: 1600px){
    .hero__img.--first{
        height: 79%;
    }
    .hero__img.--second{
        top: 81%;
    }
    .know-how{
        background-size: contain;
        background-position: center 69%;
    }
    .contact input{
        margin-bottom: 1rem;
        width: 100%;
        min-width: unset;
    }
}
@media (max-width: 1366px){
    :root{
        font-size: 16px;
    }
}
@media (max-width: 1280px){
    .hero__img.--first{
        height: 55%;
        top: 10%;
    }
    .hero__img.--second{
        top: 69%;
        height: 29%;
    }
    .function__img{
        top: 20%;
    }
}
@media (max-width: 1024px){
    .hero__img.--first{
        height: 55%;
        top: 24%;
    }
    .hero__img.--second{
        top: 80%;
        height: 29%;
    }
    .function__img{
        top: 25%;
    }
    .about-card{        
        min-height: 480px;
    }
	.function p.description {
		font-size: 1rem;
	}
	.function ul li, .about ul li {
		font-size: 1rem;
		margin-bottom: .5rem;
	}
}
@media (max-width: 920px){
	.hero__img.--first, .hero__img.--second{
		visibility: hidden;
	}
}
@media (max-width: 800px){
    .hero{
        position: relative;
        padding-top: 10vh;
        padding-bottom: 35vh;
    }
    .hero__img.--first{
        top: unset;
        bottom: 5vh;
        height: 30vh;
        left: 10%;
    }
    .hero__img.--second {
        top: 87%;
        height: 21%;
    }
    .about-card{
        margin-top: 2rem;
        min-height: unset;
    }
    .about .secondary-btn{
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .function{
        padding-bottom: 36vh;
    }
    .function__img{
        width: 29vh;
        bottom: 3%;
        top: unset;
    }
    .function__img.--first{
        left: 24%;
    }
    .function__img.--second{
        left: 24%;
    }
    .dot-description{        
        margin-top: 3rem;
    }
}
@media (max-width: 450px){
    :root{
        font-size: 14px;
    }
    .header img{
        width: 5rem;;
    }
    .hero{
        position: relative;
        padding-top: 10vh;
        padding-bottom: 35vh;
    }
    .hero__img.--first{
        top: unset;
        bottom: 6vh;
        height: 28vh;
        right: 5%;
        left: unset;
    }
    .hero__img.--second {
        top: 85%;
        left: -2%;
        height: 20%;
    }
    .function{
        padding-bottom: 36vh;
    }
    .function__img{
        width: 29vh;
        bottom: 3%;
        top: unset;
    }
    .function__img.--first{
        left: 24%;
    }
    .function__img.--second{
        left: 24%;
    }
    .know-how{
        background-size: contain;
        background-position: center 95%;
        min-height: 700px;
    }
    .dot-description{
        margin-top: 2rem;
    }
    .contact input{
        min-width: 100%;
    }
}
@media (max-width: 375px){
    .header a.nav-link{
        padding: 11px 1rem;
    }
    .hero span.description{
        display: block;
        margin: 0;
        margin-top: 1rem;
    }
}

label.error {
    color: red;
    font-size: small;
    margin: 0;
}

.popup__body .btn {
    margin-top: 10px;
}

.hd {
    display: none;
}